/dist
/env
/datasets
*.jpg
*.png
*.jpeg
*.gif
*.mp4
*.avi
*.mov
*.m
*/__pycache__
*/.ipynb_checkpoints
*/.DS_Store
*/.idea
*/.vscode
*/.pytest_cache
*/.mypy_cache
*/.coverage
*/.coverage.*
*/.hypothesis
*/.hypothesis
*.ipynb